.container {
  width: 250px;
  flex-grow: 1;
  border: 1px solid #daa520;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.container figure {
  height: 250px;
}

.container figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.container_info {
  padding: 10px;
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container_info div:nth-child(1) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container_info div small {
  color: #daa520;
}

.container_info div:nth-child(2) {
  text-align: right;
  font-weight: 600;
}